/* General Page Styles */
body {
    background-color: #f8f1e4;
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
}

/* Contact Title */
.contact-title {
     font-family: var(--font-dancing-script), cursive;
    font-size: 35px;
    color: #800000;
    margin-bottom: 20px;
}

/* Handshake Image */
.handshake {
    width: 200px;
    height: auto;
    margin: 10px auto;
    display: block;
}

/* Contact Numbers */
.contact-number {
    font-family: var(--font-dancing-script), cursive;
    font-size: 28px;
    font-weight: bold;
    color: #800000;
    margin: 5px 0;
}
